sectio.nav
  h1 <a href="http:jewell-dynamics.io">JEWELL DYNAMICS</a>
    h3.span.loader 
      span.m C
      span.m R
      span.m E
      span.m AT
      span.m I
      span.m V
      span.m E
      span.m ⚡
      span.m T
      span.m E
      span.m C
      span.m H
      span.m N
      span.m O
      span.m L
      span.m O
      span.m G
      span.m I
      span.m E
      span.m S
    .nav-container
      a.nav-tab(href="#tab-market") MARKET
      a.nav-tab(href="#tab-mint") MINT
      a.nav-tab(href="#tab-next") NEXT
      a.nav-tab(href="#tab-info") INFO
      a.nav-tab(href="#tab-invest") INVEST
      span.nav-tab-slider
main.main
  section#tab-market.slider
    h1 Market
    h2 A fully Customizable marketplace
  section#tab-mint.slider
    h1 MINT
    h2 Get your NFT passes for early access release
  section#tab-next.slider
    h1 NEXT
    h2 Roadmap and Upcoming Projects
  section#tab-info.slider
    h1 INFO
    h2 Why Jewell Dynamics?
  section#tab-invest.slider
    h1 INVEST
    h2 Donate to the cause, Apply for a position
canvas.background
